{% extends "base.html" %}
{% load static %}
{%block title%}
My stored Posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{%static "blog/stored-posts.css"%}">
{% endblock%}

{% block content %}
<section id="stored-posts" class="container">
    {% if not has_posts %}
    <p>You didn't save any posts for later</p>
    {%endif %}

    <h2>My Collected Posts</h2>

    <ul class="post-list">
        {% for post in posts %}
        <li class="card">
            <a href="{% url "post-detail-page" post.slug%}">
                {# Assuming stored posts needs an image, but post object might just be title if not full object. #}
                {# If post is a full object, we can show image. Let's assume it is based on screenshot. #}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <div class="post-content">
                    <h3>{{post.title}}</h3>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
